<html>
    <head>
          <title>Make a Decision</title>
          <script data-main="js/whichone.js" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js"> </script>
    </head>
    <body>
        <ng-view> </ng-view>

        <script type="text/ng-template" id="/index.html">
        <ul>
            <li ng-repeat="decision in decisions">
                <a href="#/" ng-click="f($index)">{{ decision.name }} </a>
            </li>
            <li> <a href="#/" ng-click="newDecision()"> Add a decision </a> </li>
        </ul>

        <h1>{{ decisions[descionIndex].name }}</h1>
        <table>
            <tr>
                <td> </td>
                <td ng-repeat="obj in decisions[decisionIndex].objectives">
                    {{ obj.name }}
                    <select ng-model="obj.weight" ng-name="weight" ng-options="weight for weight in [1,2,3,4,5]">
                    </select>
                </td>
                <td> <a href="#/" ng-click="addObjective()"> + </a> </td>
            </tr>

            <tr ng-repeat="alt in decisions[decisionIndex].alternatives">
                <td> {{ alt.name }} </td>
                <td ng-repeat="rating in alt.ratings">
                    <select ng-model="rating.value" ng-name="rating" ng-options="rating for rating in [-5,-3,0,5,3]">
                    </select>
                </td>
                <td>
                    {{ alt.getScore() }}
                </td>
            </tr>
            <tr>
                <td> <a href="#/" ng-click="addAlternative()"> + </a> </td>
            </tr>
        </table>
        </script>
    </body>
</html>
